body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #cfd3ce;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: center;
}
